.TodoForm {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.add-btn {
  color: white;
  text-align: center;
  background-color: #ff1493;
  font-size: x-large;
  font-weight: bolder;
  padding-top: 1%;
  padding-bottom: 1%;
}

.add-textfield {
  font-size: larger;
}
